.header {
    min-height: 80px;
    background-color: #171717;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 0.9;
}

.container {
    display: flex;
    justify-content: flex-end!important;
}




/* единицы измерения:
1. Абсолютные (метры, пиксели)
2. Относительные:
(%) Берёт размеры у родителя
(em) отталкиваемся от размера шрифта родителя
(rem) отталкиваемся от размера шрифта рутового элемента
рутовый элемент -- корневой элемент (html или body)
(vh[viewHeight],vw[viewWidth]) -- зависит от монитора
*/