.contactsBlock {
    background-color: #171717;
    margin: 15px 0;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.title {
    background-color: #ffffff;
    padding: 15px;
}

.contactForm {
    width: 580px;
    display: flex;
    flex-direction: column;
}

.contactForm > input {
    padding: 10px 20px;
    background-color: #252427;
    color: white;
    border: 1px solid #797777;
    font-family: 'RobotoCondensed-Regular';
    margin-bottom: 10px;
}

.contactForm > textarea {
    height: 200px;
    padding: 20px;
    background-color: #252427;
    color: white;
    font-family: 'RobotoCondensed-Regular';
    margin-bottom: 10px;
}

@media screen and (max-width: 853px){
    .contactForm{
        width: 500px;
    }
}

@media screen and (max-width: 670px){
    .contactForm{
        width: 400px;
    }
}

@media screen and (max-width: 530px){
    .contactForm{
        max-width: 286px;
    }
}