.contactsBlock {
    background-color: #e3b92a;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.title {
    background-color: #ffffff;
    padding: 15px;
}

.contactForm {
    width: 280px;
    display: flex;
    flex-direction: column;
}

.contactForm > input {
    padding: 10px 20px;
}

.contactForm > textarea {
    height: 160px;
    padding: 20px;
}