.remoteBlock {
    background-color: black;
    margin: 15px 0;
}

.remoteWorkContainer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}

.remoteBlockText {
  color: #b796d9;
}