.skill{
    width: 250px;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #cda94e;
}

.skillTitle {
    background-color: #9ca7a8;
}
.skillDescription {
background-color: #f8d47f;
}