.skill{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.icon {
    width: 80px;
    height: 80px;
}

.skillTitle {
    text-transform: uppercase;
    font-size: 24px;
}

.skillDescription {
    font-family: 'RobotoCondensed-Regular';
    font-size: 19px;
}

@media screen and (max-width: 1200px){
    .skill{
        width: 200px;
    }
    .skillTitle{
        font-size: 20px;
    }
    .skillDescription{
        font-size: 17px;
    }
}

@media screen and (max-width: 744px){
    .skillTitle{
        font-size: 23px;
    }
    .skillDescription{
        font-size: 19px;
    }
}


@media screen and (max-width: 502px){
    .skill{
        width: 350px;
    }
    .skillTitle{
        font-size: 26px;
    }
    .skillDescription{
        font-size: 22px;
    }
}