.skillsBlock {
    min-height: 100vh;
    background-color: black;
    margin: 15px 0;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #d5c1ae;
    padding: 5px;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width: 360px) {
    .skills {
        justify-content: center;
    }
}