.mainBlock{
    height: 100vh;
    background-color: #ffdebc;
}



.text{
    width: 300px;
    background-color: #d5c1ae;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: darkkhaki;
}