.mainBlock {
    height: 100vh;
    background-color: black;
    margin: 15px 0;
    display: flex;
}

.text {
    width: 480px;
    color: white;
    padding: 30px;
}

.text h1 {
    font-family: 'ArchivoBlack';
    font-size: 70px;
    margin: 5px;
    text-transform: uppercase;
    line-height: 80px;
}

.text h1 span{
    color: black;
    text-shadow: white 1px 1px 0, white -1px -1px 0,
    white -1px 1px 0, white 1px -1px 0;
}

.text p {
    color: #BBBBBB;
    font-weight: bold;
    margin: 0;
    padding-left: 8px;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #B796D9;
}

@media screen and (max-width: 977px){
    .photo{
        height: 340px;
    }
}

@media screen and (max-width: 625px){
    .text h1{
        font-size: 60px;
    }
}
@media screen and (max-width: 529px){
    .photo{
        height: 350px;
    }
}

@media screen and (max-width: 482px){
    .text h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 405px){
    .text{
        padding: 5px;
    }
    .text h1{
        font-size: 40px;
        line-height: 45px;
    }
    .photo{
        width: 280px;
        height: 380px;
    }
}
