//@import '../../common/styles/sass/mixins';

.project {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 5px;
  position: relative;

  .projectImg {
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    &:hover::before {
      opacity: 0.1;
    }

    .viewMore {
      text-decoration: none;
      color: white;
      background-color: black;
      padding: 7px 25px;
      opacity: 0.85;
      position: relative;
      z-index: 1;
    }

  }
  .projectTitle {
    text-transform: uppercase;
    font-size: 24px;
  }

  .projectDescription {
    font-family: 'RobotoCondensed-Regular';
    font-size: 19px;
  }
}

@media screen and(max-width: 450px) {
  .project{
    width: 250px;
    .projectImg{
      width: 250px;
      height: 200px;
    }
    &::before{
      width: 200px;
    }
    .projectTitle{
      font-size: 23px;
    }
    .projectDescription{
      font-size: 20px;
    }
  }
}

@media screen and(min-width: 520px) {
  .project{
    width: 450px;
    .projectImg{
      width: 450px;
      height:  350px;
    }
  }
}






