* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'ArchivoBlack';
  src: url('./fonts/ArchivoBlack-Regular.ttf')
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('./fonts/RobotoCondensed-Bold.ttf')
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('./fonts/RobotoCondensed-Regular.ttf')
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-family: 'RobotoCondensed-Bold';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
