.Button {
    background-color: #4e4545;
    padding: 10px 135px;
    color: #e0e0e0;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

.Button:active{
    transform: scaleX(0.4) translateY(5px);
}

@media screen and (max-width: 529px){
    .Button{
        padding: 10px 100px;
    }
}
