.projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projectsBlock {
    flex-wrap: wrap;
    margin: 15px 0;
}

.projectsContainer {
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #d5c1ae;
    padding: 5px;
}