.projectsBlock {
    flex-wrap: wrap;
    margin: 15px 0;
    .projectsContainer {
        min-height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        .projects {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }
}
